.Menu{
    position: absolute;
    top: 20px;
    right: 10%;
    font-weight: bold;
    display: flex;
    animation: slideX 2s;
    justify-content: space-between;
}
.Menu a{
    text-decoration: none;
}
.social {
    margin-right: 14px;
    display: flex;
    align-items: center;
}
.appmobile {
    margin: auto 15px;
    text-decoration: none;
    color: #ffff;    
}
.menu-item {
    color: #000;
    background-color: #ffff;
    padding: 12px 24px;
    border-radius: 4px;
}

@keyframes slideX {
    from {
        transform: translateX(90px);
    }to{
        transform: translateX(0px);
    }
}