.container-modal {
    position: absolute;
    bottom: 18px;
    padding: 14px;
    width: 780px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    animation: animationModal 0.9s;
}

@keyframes animationModal {
    from {
        transform: translateY(90px);
    }
    to{
        transform: translateY(0);
    }
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header button{
    border: 0;
    background-color: transparent;
}

.container-modal span{
    margin: 14px 0;
    color: rgba(14, 0, 0, 0.657);
}

.modal-link {
    background-color: #172742;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    height: 38px;
    border: 0;
    border-radius: 4px;
    color: #fff;
}

@media (max-width: 725px) {
    .container-modal {
        width: 90%;
    }
}